.total {
  width: 100%;
}
.price {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.options a {
  width: 30%;
  padding: 10px 18px;
  text-align: center;
  background-color: rgb(83, 83, 83);
  color: #fff;
  transition: 0.5s;
}
.options a:hover {
  width: 30%;
  padding: 10px 18px;
  text-align: center;
  background-color: rgb(44, 44, 44);
  color: #fff;
}
