.Imgslidebox {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  cursor: grab;
  user-select: none;
}
.imgmain {
  width: 100%;
}
