.productimg {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
}
.imgbox {
  width: 100%;
  text-align: center;
}
.imgslide {
  display: block;
  height: 300px;
  width: 400px;
}
.imgbox .alice-carousel__stage {
  background-color: green;
}
@media only screen and (max-width: 800px) {
  .productimg {
    width: 100%;
  }
}
